.stForm {
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    box-shadow: 10px 5px 5px rgb(177, 163, 163);    
    background-color: rgb(192, 186, 179);
    
}

.input {
    width: 80%;
    margin: 10px;
    font-size: 5ch;
    border-radius: 10px;
    
}

.button {
    background-color: rgb(104, 104, 189);
    font-size: 5ch;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
}